{% extends "account/base.html" %}
{% load i18n static %}

{% block title %}
  Password Reset
{% endblock %}

{% block header %}
{% endblock header %}

{% block card_title %}
<center>
  <a href="/">
    <img src="{% static 'img/icon.svg' %}" class="h-16 w-auto mb-6" alt="ZeroBadger logo" />
    Password Reset Email Sent
  </a>
</center>
{% endblock %}

{% block inner_content %}
<div class="text-center space-y-6">
  <p class="text-gray-700">
    We’ve sent you an email with instructions to reset your password.
    <br>If you don't receive it within a few minutes, please check your spam folder.
  </p>

  <a href="{% url 'account_login' %}" class="button w-full">
    Back to Login
  </a>
</div>
{% endblock inner_content %}

