{% extends "account/base.html" %}
{% load i18n static %}

{% block title %}
  Password Change
{% endblock %}

{% block header %}
{% endblock header %}

{% block card_title %}
<center>
  <a href="/">
    <img src="{% static 'img/icon.svg' %}" class="h-16 w-auto mb-6" alt="AppName logo" />
    Change Password
  </a>
</center>
{% endblock %}

{% block inner_content %}
<form method="post" action="{% url 'account_change_password' %}" class="space-y-6">
  {% csrf_token %}

  {% for field in form %}
    <div>
      {{ field.label_tag }}
      {{ field }}
      {% if field.errors %}
        <p class="text-sm text-red-600 mt-1">{{ field.errors|striptags }}</p>
      {% endif %}
    </div>
  {% endfor %}

  <button type="submit" class="button w-full">
    Change Password
  </button>

  <div class="text-center text-sm text-gray-600 mt-4">
    <a href="{% url 'account_login' %}" class="hover:underline">
      Back to Login
    </a>
  </div>
</form>
{% endblock inner_content %}

