{% extends "account/base.html" %}
{% load i18n static %}

{% block title %}
  Signup
{% endblock %}
{% block card_title %}
    <center>
      <a href="/">
        <img src="{% static 'img/icon.svg' %}"
             class="h-16 w-auto mb-6"
             alt="AppName logo" />
        Sign Up
      </a>
    </center>
{% endblock %}
{% block inner_content %}
    <form method="post" action="{% url 'account_signup' %}" class="space-y-6">
        {% csrf_token %}
        {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}<p class="text-sm text-red-600 mt-1">{{ field.errors|striptags }}</p>{% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="button w-full">Sign Up</button>
        <div class="text-center text-sm text-gray-600">
            Already have an account?
            <a href="{% url 'account_login' %}"
               class="font-semibold text-black hover:underline">Log in</a>
        </div>
    </form>
{% endblock inner_content %}
