{% load wagtailcore_tags navigation_tags %}

{% get_site_root as site_root %}
<nav class="space-x-8 text-gray-600 text-sm font-medium">
  {% for menuitem in site_root.get_children.live.in_menu %}
  <a
    href="{% pageurl menuitem %}"
    class="{% if request.path == menuitem.url %}font-bold text-gray-900{% else %}hover:text-gray-900{% endif %}"
    >{{ menuitem.title }}</a
  >
  {% endfor %} {% if request.user.is_authenticated %}
  <a
    class="group relative inline-flex items-center overflow-hidden rounded-lg bg-black px-8 py-2 text-white focus:ring-3 focus:outline-hidden"
    href="{% url 'dashboard' %}"
  >
    <span class="absolute -end-full transition-all group-hover:end-4">
      <svg
        class="size-5 shadow-sm rtl:rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M17 8l4 4m0 0l-4 4m4-4H3"
        />
      </svg>
    </span>

    <span class="text-sm font-medium transition-all group-hover:me-4">
      Dashboard
    </span>
  </a>
  {% else %}
  <a href="{% url 'account_signup' %}" class="hover:text-gray-900"
    >Signup</a
  >
  <a href="{% url 'account_login' %}" class="hover:text-gray-900"
    >Login</a
  >
  {% endif %}
</nav>
